body{
    font-family: 'Hind Madurai', sans-serif;
    margin: 0px;
    background-color: lightyellow;
}
.pratos{
    display: flex;
    margin: 2% 5% 5% 5%;
}


.container-promo{
    background-color: orangered;
    padding: 5%;
    text-align: center;
}
 
.img-desc{
    width: 10%;
    height: 10%;
    float: right;
    margin-left: 0%;
    margin-right: 20%;
}

.ofertas{
    display: flex;
    margin: 5%;
}

h5{
    text-decoration: line-through;
    margin: 5%;
}
div>img{
    height: 200px;
    width: 250px;
}

.ofertas>div{
    margin: auto;
    background-color: orangered;
    box-shadow: 10px 10px 10px lightgrey;
    padding-bottom: 10px;
    justify-content: center;
    justify-self: center;
    text-align: center;

}

.pratos>div{
   
    justify-content: center;
    justify-self: center;
    margin: auto;
    text-align: center;
    box-shadow: 10px 10px 10px lightgrey;
    padding-bottom: 10px;
    background-color: white;
}



 .kits{
    display: flex;
    text-align: center;
    background-color:orange;
    width: 100%;
    font: 1em sans-serif;
}
#foto-marmita{
    height: auto;
    width: 50%;
   margin:auto;
}

#marmita{
    align-self: center;
    background-color: orange;
    width: 50% ;
    margin: auto;
} 

.titulo{
    margin: 50px 50px 0px 80px;
}



@media screen and (max-width: 450px){
    img{
        max-width: 100%;
    }
    .pratos, .ofertas{
     display: block;
     margin-inline: auto;
     width: min(90%, 70.5rem);
    }

    .pratos>div{
        margin-block: 7%;
        box-shadow: none;
        background-color: white;
        padding-top: 5%;
      
    }

    .ofertas>div{
        margin-block: 7%;
        box-shadow: none;
        padding-top: 5%;
     
    }
    body{
        width: 100%;
        margin: 0px;
        background-color: lightyellow;
    }

    .img-desc{
        display: none;
    }

    #foto-marmita{
        display: none;
    }

    .kits{
        padding-bottom: 5%;
    }

}
    
